.Co_table_td2 {
    width: 80px;
    text-align: center;
    border-width: 3px;
    /* border-left: 1px solid #444444; */
    /* border-bottom: 1px solid #444444; */
    /* border: 1px solid #444444; */
    border-spacing: 5px;
    position: relative;
    padding: 5px;
}

.Co_table_td2::after {
    position: absolute;
    border: 1px solid rgb(172, 172, 172);
    border-top: none;
    height: 10px;
    width: 100%;
    bottom:-1px;
    left: 0;
    content: "";
  }