/* 
.body::after {
    clear: both;
    display: block;
    content: '';
}*/

/* .body {
    width: auto;
    height: 100%;
}  */

.room {
    width: 60%;
    /* float: 'left'; */
    display: inline-block;
}

.room table {
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding-top: 200px;
    margin-left: 50px;
}

.room table tr td {
    text-align: center;
    vertical-align: middle;
}

.room table div {
    background-color: rgb(141, 141, 141);
    width: 60px;
    height: 105px;
    position: relative;
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.hall {
    background-color:rgb(141, 141, 141);
    width: 100px;
    color: white;
}

.roomMemo {
    border: 1px solid #d6d6d6;
    padding: 15px;
    float: right;
    width: 15%;
    height: 400px;
    margin-top: 15%;
    margin-right: 10%;
    position: relative;
    color: #666;
    font-family: "맑은 고딕", 돋움, tahoma;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.roomNavi {
    list-style-type: none;
}

.roomNavi::after{
    clear: both;
    display: block;
    content: '';
}

.roomNavi li {
    margin-right: 20px;
    cursor: pointer;
    float: left;
}

/* .roomMemo input {
    position: absolute;
    bottom: 0px;
}

.roomMemo button {
    position: absolute;
    bottom: 0px;
} */

.roomTitle {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: lightcoral;
    font-weight: 800;
    height: 30px;
    width: 30px;
}

.input_button {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
}

.timeBlock {
    border-top: 0.5px solid black;
    width: 80px;
    height: 20px;
    /* user-select: none; */
    /* touch-action: none; */
    /* cursor: default !important; */
    color: white;
    /* background-color: violet; */

}

/* .timeBlock:active {
    cursor: default
}

.timeBlock:hover{
    cursor: default
}

.timeBlock::after{
    cursor: pointer;
}

.timeBlock:-moz-drag-over{
    cursor: pointer
} */
/* 
.timeBlock:empty::selection{
    background-color: #266a92;
    
} */

.timeTable:hover {
    cursor:default
}

.timeTable:active {
    cursor:grab
}

.timeTable {
    cursor:default !important
}

.timeTable:-moz-drag-over {
    cursor:default !important
}

