
.room {
    width: 70%;
    /* display: inline-block; */
    float: left;
}

.floor {
    float: left;
    margin-left: -140px;
    margin-top: 50px;
}

.eachFloor {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: 500;
    background-color: #8d8d8d;
    border: 1px solid #d6d6d6;
    text-align: center;
    padding-top: 4px;
    margin-right: 3px;
    text-decoration: none;
}

.room table {
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-top: 90px;
    margin-left: 50px;
    /* margin-right: 100px; */
    padding: 3px;
}

.room table tr td {
    text-align: center;
    vertical-align: middle;
}

.room table div {
    border-radius: 0.3rem;
    background-color: #efefef;
    /* border: 1px solid #4f86c6; */
    width: 50px;
    height: 90px;
    position: relative;
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(0, 0, 0);
    margin: 2px;
    cursor: pointer;
}

.room table div:hover {
    transition: all .2s;
    transform: scale(1.07);
    color:white;
    background-color: #004193;
}

.room table .active div{
    background-color:  #004193;
    color:white;
}

.hall {
    /* border: 2px solid#4f86c6; */
    border-radius: 0.3rem;
    background-color: #efefef;
    width: 100px;
    color: rgb(0, 0, 0);
}

.roomMemo {
    border: 1px solid #d6d6d6;
    padding: 15px;
    width: 270px;
    margin-top: 90px;
    height: 400px;
    position: relative;
    color: #666;
    font-family: "맑은 고딕", 돋움, tahoma;
    font-size: 14px;
    letter-spacing: -0.5px;
    display: inline-block;
    margin-left: 50px;
}

.roomNavi {
    list-style-type: none;
    width: 190px;
    padding: 0px;
    margin: 0px;
    /* padding-left: 2px; */
    /* padding-bottom: 4px; */
    /* border-bottom: 1px solid #d6d6d6; */
    margin-bottom: 15px;
}

.roomNavi li {
    padding-bottom: 4px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 4px;
    padding-right: 4px;
}

.roomNavi::after{
    clear: both;
    display: block;
    content: '';
}

.roomNavi li {
    margin-right: 20px;
    cursor: pointer;
    float: left;
}

.roomTitle {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 800;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
}

.input_button {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
}

.input_button input {
    height: 27px;
    padding-bottom: 5px;
    /* line-height: 27px; */
}

.guestBkReply {
    /* border-bottom: 1px solid #d6d6d6; */
    margin-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 200px;
    border-width: 3px;
    border-spacing: 5px;
    position: relative;
}

.guestBkReply::after {
    position: absolute;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-right: none;
    height: 10px;
    width: 100%;
    bottom:-1px;
    left: 0;
    content: "";
}

.guestBkReplyBut {
    width: 52px;
    height: 25px;
    /* line-height: 25px; */
    font-size: 12px;
    font-weight: 500;
    /* color: #4f86c6; */
    font-family: Roboto Condensed, sans-serif;
    border: none;
    border-radius: 0.3rem;
    background: #efefef;
    margin-left: 15px;
}

.timeLines {
    float: left;
    margin-top: -10px;
}

.timeTable {
    margin-top: 30px;
}

.timeLine {
    height: 15px;
    margin-bottom: 15px;
    /* float: left; */
}

.timeBlock_ {
    width: 80px;
    height: 30px;
    cursor: default !important;
    color: white;
    margin-left: 40px;
}

.timeBlock_ {
    border-top: 0.5px solid black;
    width: 80px;
    height: 30px;
    cursor: default !important;
    color: white;
    margin-left: 40px;
}

.timeBlock {
    border-top: 0.5px solid black;
    width: 80px;
    height: 30px;
    cursor: default !important;
    color: white;
    margin-left: 40px;
}

.timeTable div.timeBlock {
    cursor: grab
}

.timePostButton {
    width: 52px;
    height: 27px;
    line-height: 27px;
    font-size: 10px;
    font-weight: 500;
    /* color: #4f86c6; */
    font-family: Roboto Condensed, sans-serif;
    border: none;
    border-radius: 0.3rem;
    background: #efefef;
    margin-left: 20px;
}